@model IEnumerable<Loai>
<h2 class="text-primary">LOẠI</h2>
<div class="list-group">
    @foreach (var lo in Model)
    {
        <a class="list-group-item" asp-action="List" asp-controller="HangHoa" asp-route-loai="@lo.MaLoai">
            @lo.TenLoai
        </a>
    }
</div>